{% extends "base.html" %}

{% block heading %}{{ block.super }} - Edit Book{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="{{ action }}" method="POST">
  {% csrf_token %}
  <ul>
    {{ form.as_p }}
  </ul>
  <input id="save_book" type="submit" value="Save" />
</form>

<a href="{% url "book-list" %}">back to list</a>
{% endblock %}