<h1>Series</h1>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<form method="get" action="/search">
    <input type="text" name="q" id="id_q">
    <input type="submit" value="Search">
</form>

<ul>
  {% for series in object_list %}
    <li class="series"><a href="{{ series.get_absolute_url }}">{{ series }}</a> (<a href="{% url "series-edit" pk=series.id %}">Edit</a> | <a href="{% url "series-delete" pk=series.id %}">Delete</a>)</li>
  {% endfor %}
</ul>