{% extends "base.html" %}

{% block heading %}{{ block.super }} - Delete Series{% endblock %}
{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<p>Are you sure you want to delete the series "{{ series }}"?</p>

<form action="{% url "series-delete" pk=book.id %}" method="POST">
  {% csrf_token %}

  <input type="submit" value="Yes, delete." />
  <a href="{% url "series-list" %}">No, cancel.</a>
</form>
{% endblock %}