{% extends "base.html" %}

{% block heading %}{{ block.super }} - {{ book }}{% endblock %}
{% block content %}

<p><a href="{% url "book-edit" pk=book.id %}">Edit</a> | <a href="{% url "book-delete" pk=book.id %}">Delete</a></p>
{% if kindles %}
    {% if can_send_to_kindle %}
    {% for kindle in kindles %}
    <p><a href="{% url "book-send" pk=book.id reader=kindle.id %}">Send Book to {{ kindle }}</a></p>
    {% endfor %}
    {% else %}
    <p>You have kindles registered, but this book doesn't have a kindle-compatible file in your dropbox. Try adding one and re-importing, or <a href="{% url "reader-create" %}">add a different reader</a>.</p>
    {% endif %}
{% elif other_readers %}
    {% if can_send_to_other %}
    {% for reader in other_readers %}
    <p><a href="{% url "book-send" pk=book.id reader=reader.id %}">Send Book to {{ reader }}</a></p>
    {% endfor %}
    {% else %}
    <p>You have iBooks registered, but this book doesn't have a iBooks-compatible file in your dropbox. Try adding one and re-importing, or <a href="{% url "reader-create" %}">add a different reader</a>.</p>
    {% endif %}
{% else %}
<p>Hmm... No eBook readers attached to this account. Why not <a href="{% url "reader-create" %}">add one</a>?</p>
{% endif %}
<p><a href="{% url "book-list" %}">back to list</a></p>
{% endblock %}