{% extends "base.html" %}

{% block heading %}{{ block.super }} - <a href="{% url "book-list" %}">Books</a> - {{ book }}{% endblock %}
{% block content %}

<p><a href="{% url "book-edit" pk=book.id %}">Edit</a> | <a href="{% url "book-delete" pk=book.id %}">Delete</a></p>
<p>Author: {% if book.author %}{{ book.author }}{% endif %}</p>
<p>Series: {% if book.series %}{{ book.series }}{% endif %}</p>
<p>Number in series: {% if book.number_in_series %}{{ book.number_in_series }}{% endif %}</p>
<p>
    Available in:
    <ul>
        {% if book.mobi %}<li>mobi (Kindle-compatible)</li>{% endif %}
        {% if book.epub %}<li>epub (iBooks, Kobo compatible)</li>{% endif %}
        {% if book.pdf %}<li>pdf (Compatible with most readers)</li>{% endif %}
    </ul>
</p>
{% if kindles %}
    {% if can_send_to_kindle %}
    {% for kindle in kindles %}
    <p><a href="{% url "book-send" pk=book.id reader=kindle.id %}">Send Book to {{ kindle }}</a></p>
    {% endfor %}
    {% else %}
    <p>You have kindles registered, but this book doesn't have a kindle-compatible file in your dropbox. Try adding one and re-importing, or <a href="{% url "reader-create" %}?next={% url "book-detail" pk=book.id %}">add a different reader</a>.</p>
    {% endif %}
{% elif other_readers %}
    {% if can_send_to_other %}
    {% for reader in other_readers %}
    <p><a href="{% url "book-send" pk=book.id reader=reader.id %}">Send Book to {{ reader }}</a></p>
    {% endfor %}
    {% else %}
    <p>You have iBooks registered, but this book doesn't have a iBooks-compatible file in your dropbox. Try adding one and re-importing, or <a href="{% url "reader-create" %}?next={% url "book-detail" pk=book.id %}">add a different reader</a>.</p>
    {% endif %}
{% else %}
<p>Hmm... No eBook readers attached to this account. Why not <a href="{% url "reader-create" %}?next={% url "book-detail" pk=book.id %}">add one</a>?</p>
{% endif %}
<form action="{% url "book-detail" pk=book.id %}" method="POST">
    {% csrf_token %}
    <p>
        <label for="id_shelf">{{ form.fields.shelf.label }}</label>
        <select id="id_shelf" name="shelf">
        {% for id, shelf in form.fields.shelf.choices %}
            <option value="{{ id }}">{{ shelf }}</option>
        {% endfor %}
        </select>
        <input type="submit" value="Submit" />
    </p>
</form>
{% endblock %}