{% extends "base.html" %}

{% block heading %}{{ block.super }} - Books{% endblock %}
{% block content %}
{% if object_list %}
<h2><a href="{% url "series-list" %}">Series List</a></h2>
<p><a href="{% url "series-create" %}">Add Series</a></p>
{% include "search_form.html" %}
<ul>
  {% for book in object_list %}
    <li class="book"><a href="{{ book.get_absolute_url }}">{{ book }}</a> (<a href="{% url "book-edit" pk=book.id %}">Edit</a> | <a href="{% url "book-delete" pk=book.id %}">Delete</a>)</li>
  {% endfor %}
</ul>
{% endif %}
<p>No books in library!</p>
{% endblock %}
