{% extends "base.html" %}

{% block heading %}{{ block.super }} - Books{% endblock %}
{% block content %}
{% if object_list %}
{% include "actions_list.html" %}
<form action="{% url "book-list" %}" method="POST">
    {% csrf_token %}
    <input id="id_page" name="page" value="{{ page_obj.number }}" type="hidden" />
    <ul>{% for id, title in form.fields.books.choices %}
        <li><input value="{{ id }}" name="books" type="checkbox"> <a href="{% url "book-detail" pk=id %}">{{ title }}</a> (<a href="{% url "book-edit" pk=id %}">Edit</a> | <a href="{% url "book-delete" pk=id %}">Delete</a>)</li>
    {% endfor %}</ul>
    {{ form.actions }} <input id="save_book" type="submit" value="Submit" />
</form>
{% include "page_controls_snippet.html" %}
{% else %}
<p>No books in library!</p>
{% if running_imports %}
<p>We're currently importing some books for you, and we will send you en email when they're ready.</p>
{% else %}
<p><a href="{% url "books-import" %}">Import some books!</a></p>
{% endif %}
{% endif %}
{% endblock %}
