{% extends "base.html" %}

{% block heading %}{{ block.super }} - Books{% endblock %}
{% block content %}
{% if object_list %}
{% include "actions_list.html" %}
<form action="{% url "book-list" %}" method="POST">
    {% csrf_token %}
    <input id="id_page" name="page" value="{{ page_obj.number }}" type="hidden" />
    <ul>{% for id, title in form.fields.books.choices %}
        <li><input value="{{ id }}" name="books" type="checkbox"> <a href="{% url "book-detail" pk=id %}">{{ title }}</a> (<a href="{% url "book-edit" pk=id %}">Edit</a> | <a href="{% url "book-delete" pk=id %}">Delete</a>)</li>
    {% endfor %}</ul>
    {{ form.actions }} <input id="save_book" type="submit" value="Submit" />
</form>
{% if page_obj.has_previous or page_obj.has_next %}
    <div>
        {% if page_obj.number != 1 %}<a href="?page=1">&laquo; First</a> | {% endif %}
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">&lt; Previous</a> | {% endif %}
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">Next &gt;</a> | {% endif %}
        {% if page_obj.number != paginator.num_pages %}<a href="?page={{ paginator.num_pages }}">Last &raquo;</a>{% endif %}

    </div>
{% endif %}
{% else %}
<p>No books in library!</p>
{% endif %}
{% endblock %}
