{% extends "base.html" %}

{% block heading %}{{ block.super }} - Series{% endblock %}
{% block content %}
{% include "actions_list.html" %}
<ul>
  {% for series in object_list %}
    <li class="series"><a href="{{ series.get_absolute_url }}">{{ series }}</a> (<a href="{% url "series-edit" pk=series.id %}">Edit</a> | <a href="{% url "series-delete" pk=series.id %}">Delete</a>)</li>
  {% endfor %}
</ul>
{% if page_obj.has_previous or page_obj.has_next %}
    <div>
        {% if page_obj.has_previous %}<a href="?page={{ page_obj.previous_page_number }}">{% endif %}&laquo; Previous{% if page_obj.has_previous %}</a>{% endif %}
        |
        {% if page_obj.has_next %}<a href="?page={{ page_obj.next_page_number }}">{% endif %}Next &raquo;{% if page_obj.has_next %}</a>{% endif %}
    </div>
{% endif %}
{% endblock %}