{% extends "base.html" %}

{% block heading %}{{ block.super }} - Shelves{% endblock %}
{% block content %}
{% include "actions_list.html" %}
{% if not object_list %}<p>Shelves are collections of books that you curate in any way that makes sense to you. We've provided some default shelves to get you started.</p>{% endif %}
<ul>
    <li class="shelf"><a href="{% url "shelf-last-week" %}">Added in Last Week</a>
    <li class="shelf"><a href="{% url "shelf-last-month" %}">Added in Last Month</a></li>
  {% for shelf in object_list %}
    <li class="shelf"><a href="{{ shelf.get_absolute_url }}">{{ shelf }}</a> (<a href="{% url "shelf-edit" pk=shelf.id %}">Edit</a> | <a href="{% url "shelf-delete" pk=shelf.id %}">Delete</a>)</li>
  {% endfor %}
</ul>
{% endblock %}