<html>
    <head>
        <title>Booksonas</title>
    </head>
    <body>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h1>
        {% block heading %}
        <a href="/">Booksonas</a>
        {% endblock %}
        </h1>
        {% block content %}
        {% endblock %}
        {% if user.is_authenticated %}
        <p><a href="{% url "books-import" %}">Import Books</a></p>
        {% endif %}
    </body>
</html>