{% load staticfiles %}
{% load humanize %}

<html>
    <head>
        <title>Booksonas</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cmcenroe.me/writ/0.2.1/writ.min.css">
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-36515305-8', 'auto');
          ga('send', 'pageview');
        </script>
    </head>
    <body style="margin: 10px;">
        <header>
        <h1>{% block heading %}<a href="/">Booksonas</a>{% endblock %}</h1>
        <nav>{% if user.is_authenticated %}{% include "actions_list.html" %}{% endif %}</nav>
        {% if messages %}
        <ul class="messages" style="list-style: none">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="list-style-type: none; border: 2px solid lightgray;">{% if 'safe' in message.tags %}{{ message | safe }}{% else %}{{ message }}{% endif %}</li>
            {% endfor %}
        </ul>
        {% endif %}
        </header>
        <article>
        {% block content %}
        </article>
        {% endblock %}
        <footer>
        {% if user.is_authenticated %}
        <nav><p><a href="{% url "book-list" %}">Book List</a> | <a href="{% url "books-import" %}">Import Books</a> | <a href="{% url "account_logout" %}">Sign Out</a> | <a href="http://goo.gl/forms/3crxucI0p2" target="_blank">Send Feedback</a></p></nav>
        {% endif %}
        </footer>
    </body>
</html>