{% extends "base.html" %}

{% block content %}
<h2>Welcome to Booksonas!</h2>
<p>Booksonas is a work-in-progress for better library management. Right now, we create a library from books in your Dropbox, which you can organize, search, and send to your various devices via email.</p>
<p>Booksonas is alpha software, currently comes with no warranty. Currently, you use it at your own risk. We do not write to your Dropbox or make edits there.</p>
<p>Please <a href="{% url "account_login" %}">login</a>.
{% endblock %}